.discussion {
    background-color: #ffffff;
    margin: auto;
    min-width: 400px;
    max-width: 800px;
    margin-top: 20px;
    padding: 22px 60px;
    border-radius: 5px;
}

.discussion__header {
    padding: 30px 30px 50px 30px;
    border-bottom: solid #e5e5e5;
}

.discussion__new-comment-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discussion__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.discussion__new-comment-input {
    color: #8a8f9c;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 2px 10px;
    margin: 0 10px;
}

.discussion__new-comment-button {
    border: none;
    padding: 6px 12px;
    background-color: #7e34f7;
    color: white;
    border-radius: 5px;
    height: 36px;
}

.discussion__new-comment-button.discussion__new-comment-button--disabled {
    color: grey;
    background-color: #c59fff;
}

.discussion__comment-list {
    margin-top: 26px;
}

.comment {
    display: flex;
    padding: 20px;
}

.comment--reply {
    margin-left: 35px;
    border-left: #e3e3e3 solid;
}

.comment__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


.comment__comment-meta {
    display: flex;
}

.comment__author-name {
    color: #21293c;
    font-weight: 700;
}

.comment__meta-seperator {
    margin: 0 5px;
    color: #4b587c;
}

.comment__time-since-published {
    color: #4b587c;
    font-weight: 100;
}

.comment__body {
    margin: 10px 0;
}

.comment__upvote-arrow-icon {
    height: 10px;
    margin-right: 5px;
    filter: invert(33%) sepia(11%) saturate(1658%) hue-rotate(187deg) brightness(96%) contrast(86%);
}

.comment__actions {
    display: flex;
    align-items: center;
}

.comment__actions button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #4b587c;
    padding: 5px 8px;
}

button.comment__upvote-button.comment__actions--disabled {
    background-color: #e0e0e0;
    color: #c9d3ee;
}

.comment__actions button:hover {
    background-color: rgba(84, 94, 126, 0.16);
}

.comment__upvote-count {
    color: #4b587c;
    font-size: 14px;
    margin: 0 5px;
}

.reply {
    display: flex;
}

.reply__input {
    color: #8a8f9c;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 2px 10px;
    margin: 0 10px 0 60px;
}

.reply__submit-button {
    border: none;
    padding: 6px 12px;
    margin-right: 100px;
    background-color: #7e34f7;
    color: white;
    border-radius: 5px;
    height: 36px;
}